<html>
    <head>
        <style>
            #SearchBar{
                margin-left: 5%;
                width: 30%;
            }
            #labels{
                margin-left: 17%;
            }
        </style>
    </head>
    <body>
        <h1><center>Welcome to my WebApp</center></h1>
        
        <h2><center>Vijetha Shenoy Badiadka</center></h2> 
        <h2><center>1001822855</center></h2>
        <br>    
        <br>
        <img style="width: 200px;height:200px;margin-left: 20%;" src="{{ url_for('static',filename='s.jpg') }}" alt="No Image found"/>

    </body>
</html>