<html>
    <head>
        <style>
            #SearchBar{
                margin-left: 5%;
                width: 30%;
            }
            #labels{
                margin-left: 17%;
            }
        </style>
    </head>
    <body>
        <h1><center>Welcome to my WebApp</center></h1>
        
        <h2><center>Vijetha Shenoy Badiadka</center></h2> 
        <h2><center>1001822855</center></h2>
        <br>    
        <br>
        <br>
        <p><center><h2>To view the details - image/contents of the csv file, click the button below</h2></center></p>
        <form action="/details", method="POST" , method = "GET">
            <center><input type="submit" id="button" style="margin-left: 10%;width: 10%;" value="Show all Data"/></center>
        </form>

        <center><form class="" action="/index" method="POST">
            <h3>Upload images/csv files</h3>
               <input type="file" name="csvfile" value="">
               <input type="submit" name="csvfile" value="submit"><br>  
        </form></center>


        <p><center>You can also check the individual details and then update/delete their records as follows:</p>
        <form action="/takedata" , method="POST" , method = "GET" style="margin-left: 100px; margin-top: 80px;">
            <p>Enter any of the following names : Chuck, Dar, Dave, Dhru, Drsl, Tavo, Upset</p>
        <label id="labels">Enter a Name to search:</label>
        <input type="text" id="SearchBar" name="SearchBar"/>
        <input type="submit" id="button" style="margin-left: 10%;width: 10%;" value="Go"/>
        </form> </br></br></br></br>
        <form action="/saldata" , method="POST" , method = "GET">
            <label id="labels">Search for salary lesser than:</label>
            <input type="text" id="searchBar" name="salBar"/>
            <input type="submit" style="margin-left: 10%;width: 10%;" value="Go"/>
            </form></center>
        
    </body>
</html>